<a href="https://colab.research.google.com/github/subhobrata/DeepNLP/blob/master/munging_surname_dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import collections
import numpy as np
import pandas as pd
import re

from argparse import Namespace

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
args = Namespace(
    raw_dataset_csv="/content/gdrive/My Drive/data/surnames/surnames.csv",
    train_proportion=0.7,
    val_proportion=0.15,
    test_proportion=0.15,
    output_munged_csv="/content/gdrive/My Drive/data/surnames/surnames_with_splits.csv",
    seed=1337
)

In [0]:
# Read raw data
surnames = pd.read_csv(args.raw_dataset_csv, header=0)

In [4]:
surnames.head()

    surname nationality
0  Woodford     English
1      Coté      French
2      Kore     English
3     Koury      Arabic
4    Lebzak     Russian

In [5]:
# Unique classes
set(surnames.nationality)

{'Arabic',
 'Chinese',
 'Czech',
 'Dutch',
 'English',
 'French',
 'German',
 'Greek',
 'Irish',
 'Italian',
 'Japanese',
 'Korean',
 'Polish',
 'Portuguese',
 'Russian',
 'Scottish',
 'Spanish',
 'Vietnamese'}

In [0]:
# Splitting train by nationality
# Create dict
by_nationality = collections.defaultdict(list)
for _, row in surnames.iterrows():
    by_nationality[row.nationality].append(row.to_dict())

In [0]:
# Create split data
final_list = []
np.random.seed(args.seed)
for _, item_list in sorted(by_nationality.items()):
    np.random.shuffle(item_list)
    n = len(item_list)
    n_train = int(args.train_proportion*n)
    n_val = int(args.val_proportion*n)
    n_test = int(args.test_proportion*n)
    
    # Give data point a split attribute
    for item in item_list[:n_train]:
        item['split'] = 'train'
    for item in item_list[n_train:n_train+n_val]:
        item['split'] = 'val'
    for item in item_list[n_train+n_val:]:
        item['split'] = 'test'  
    
    # Add to final list
    final_list.extend(item_list)

In [0]:
# Write split data to file
final_surnames = pd.DataFrame(final_list)

In [9]:
final_surnames.split.value_counts()

train    7680
test     1660
val      1640
Name: split, dtype: int64

In [10]:
final_surnames.head()

  nationality  split   surname
0      Arabic  train     Totah
1      Arabic  train    Abboud
2      Arabic  train  Fakhoury
3      Arabic  train     Srour
4      Arabic  train    Sayegh

In [0]:
# Write munged data to CSV
final_surnames.to_csv(args.output_munged_csv, index=False)